{% extends "newtem/resource.html" %}
{% block page-title %}知识库{% endblock %}
{% block index %}
<div class="container-fluid" style="padding:1px;background-color:#F0FFFF">
        <div class="row-fluid">
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="#">Linux</a></li>
             <li role="presentation"><a href="#">Windows</a></li>
                <li role="presentation"><a href="#">运维</a></li>
                    <li role="presentation"><a href="#">开发</a></li>
                        <li role="presentation"><a href="#">测试</a></li>
        </ul>

            </div>
            </div>
         <div class="well" >
             <footer>
                <hr>


                <p>&copy; 2014</p>
            </footer>
             </div>
{% endblock %}
{% block href %}{% endblock %}
{% block table %}{% endblock %}
